
      <div class="container" style="padding-top: 90px;">
         <div class="row">
            <h2>Add Category</h2>

<form action="/categories/add" method="POST">
  <label for="category">Category:</label>
  <input type="text" id="category" name="category" autofocus>
  <input type="submit" value="Add Category">
</form>
         </div>
         </article>
         </section>
      </div>